@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.Link {
    @apply absolute top-5 right-10 border-b border-b-2 border-b-accent 
    hover:-translate-y-2 transition duration-100;
}

.Home {
    @apply flex flex-col justify-center items-center gap-20;
}

.Advice {
    @apply text-4xl w-2/3 md:w-full md:text-5xl text-center max-w-xl italic;
}

.Btn {
    @apply btn btn-accent;
}

.LikeButton, .Trash {
    @apply btn btn-soft btn-accent; 
}

.Actions {
    @apply flex gap-5 justify-center items-center;
}

.Favorites {
    @apply relative flex flex-col gap-5 items-center container 
    mx-auto min-h-screen;
}

.Favorites h2 {
    @apply text-4xl font-bold mt-10;
}

.Favorites ul {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 mx-10 my-10;
}

.Favorites li {
    @apply border border-accent-content py-3 px-6 rounded-xl flex flex-col items-center 
    justify-between italic text-xl;
}

.Favorites div {
    @apply self-end;
}

.Sub {
    @apply text-accent;
}

.Message {
    @apply text-2xl text-slate-400 italic font-bold; 
}

